body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    font-family: 'Comfortaa', cursive;
    color: black;
    font-size: 16px;
}

h1 {
    color: #fff;
    font-size: 36px;
    font-weight: 900px;
    font-family: 'Comfortaa', cursive;
}

h2 {
    color: #000000;
    font-size: 24px;
    font-weight: 600px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.under {
    text-align: center;
    padding: 25px;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-20px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
}

.title {
    color: #fff;
    text-decoration: none;
}

.title:hover{
    color: #fff;
    text-decoration: none;
}

.name {
    text-align: center;
}

a {
    color: #000000;
}

a:hover {
    color: indigo;
}

.education {
    padding-top: 25px;
    padding-bottom: 25px;
}

.projects {
    padding-top: 25px;
    padding-bottom: 25px;
}

footer {
    text-align: center;
    padding-top: 25px;
}